%form(method="post" enctype='multipart/form-data' action="/isos")
  .control-group
    %label.control-label(for="file")= t(:'isos.form.files')
    .controls
      %input.input-xxlarge(id="file" type='file' name='file')
